$primary: #FFFFFF;
$primary-dark-1: #E6ECEF;
$primary-dark-2: #96A9B3;
$primary-dark-3: #475156;

$secondary: #03A9F4;
$tertiary: #EA3E23;
$quaternary: #66BB6A;

$shadow-light: 0px 0px 50px rgba(0, 0, 0, 0.075);
$shadow-dark: 0px 0px 50px rgba(0, 0, 0, 0.1);

//default transition value
$ts: all 300ms ease 0s;